<h5><%= link_to @post.sub.title, sub_url(@post.sub) %></h5>
<ul>
  <li>Title: <%= @post.title %></li>
  <li>URL: <%= link_to @post.url %></li>
  <li>Content: <%= @post.content %></li>
</ul>


<% if @post.author == current_user %>
  <%= link_to 'Edit Post', edit_post_url(@post) %>
<% end %>
